<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Yelp-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4BEE21701DBFE1860088C3B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BEE21841DBFE1870088C3B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BEE218F1DBFE1870088C3B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
